<nav id="sidebar">
    <div class="sidebar-header">
        <div class="logo mt-1"><a href="/"> 您好 !</a></div>
    </div>
    <div class="sidebar-content">
        <ul class="list-unstyled components">
            <li>
                <a href="#spendingBorrow" data-toggle="collapse" aria-expanded="false"  class="dropdown-toggle-split" data-bs-toggle="dropdown">
                    <span class="icon-holder">
                        <i class="fas fa-file-invoice-dollar" style= "color:#666e7a; "></i> </span>
                    <span class="menu-title">記帳系統</span>
                </a>
                <ul class="collapse list-unstyled" id="spendingBorrow">
                    <li>
                        <a class="fas fa-list" href="/spending"> 記帳列表 </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#other" data-toggle="collapse" aria-expanded="false"  class="dropdown-toggle-split" data-bs-toggle="dropdown">
                    <span class="icon-holder">
                        <i class="fab fa-slack-hash"></i> </span>
                    <span class="menu-title">其他</span>
                </a>
                <ul class="collapse list-unstyled" id="other">
                    <li>
                        <a class="fas fa-address-card menu-title" href="/about"> 關於 </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>