<nav id="sidebar">
    <div class="sidebar-header">
        <div class="logo mt-1"><a href="/"> 您好 !</a></div>
    </div>
    <div class="sidebar-content">
        <ul class="list-unstyled components">
            <li>
                <a href="#spendingBorrow" data-toggle="collapse" aria-expanded="false"  class="dropdown-toggle">
                    <span class="icon-holder">
                        <i class="fas fa-file-invoice-dollar" style= "color:#666e7a; "></i> </span>
                    <span class="menu-title">記帳系統</span>
                </a>
                <ul class="collapse list-unstyled" id="spendingBorrow">
                    <li>
                        <a href="/spending"> 記帳列表 </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#aboutMe" data-toggle="collapse" aria-expanded="false"  class="dropdown-toggle">
                    <span class="icon-holder">
                        <i class="fas fa-calculator"></i> </span>
                    <span class="menu-title">其他</span>
                </a>
                <ul class="collapse list-unstyled" id="aboutMe">
                    <li>
                        <a href="/about"> 關於 </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>