<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>
<body>
    <div class="wrapper">
        <%- include("./partials/nav.ejs") %>
        <!-- Page Content  -->
        <div id="content-container">
            <div class="menu-header">
                <button type="button" id="sidebarCollapse" class="btn menu-btn  m-1 text-white">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <div class="m-2 p-2">
                網頁不存在 ~!!
            </div>
            <%- include("./partials/footer.ejs") %>
        </div>
    </div>

    <%- include("./partials/scriptsbot.ejs")  %>
</body>

</html>